PORT=5000
DATABASE_URL=postgresql://<user>:<password>@postgres:5432/<name>            ## for docker network
DATABASE_URL_DIRECT=postgresql://<user>:<password>@localhost:5432/hungrybuy ## for local network

JWT_SECRET=<secret_key>
JWT_EXPIRES=<days>d

ADMIN_MAIL=<admin_email>
ADMIN_PASS=<secret_pass>