PORT=5000

REDIS_HOST=<redis_host>
REDIS_PORT=<redis_port>
REDIS_PASSWORD=<redis_pwd>

DATABASE_URL=postgresql://<user>:<password>@postgres:5432/<name>            ## for docker network
DATABASE_URL_DIRECT=postgresql://<user>:<password>@localhost:5432/hungrybuy ## for local network

FRONTEND_URL=<fontend_url>
ADMIN_URL=<admin_url>

ACCESS_SECRET=<secret_key>
ACCESS_EXPIRY=<days>d

REFRESH_SECRET=<secret_key>
REFRESH_EXPIRY=<days>d

TABLE_SECRET=<secret_key>
TABLE_EXPIRY=<hours>h

SEED_ADMIN_MAIL=<admin_email>
SEED_ADMIN_PASS=<secret_pass>

SEED_RESTAURANT_NAME=<name>
SEED_RESTAURANT_EMAIL=<email>
SEED_RESTAURANT_PASSWORD=<pwd>
SEED_RESTAURANT_SLUG=<slug or domain>
